input[type="range"] {
  -webkit-appearance: none;
  width: 20%;
  height: 8px;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  margin: 10px 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 5px;
  background: #ff0000;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-moz-range-progress {
  height: 8px;
  border-radius: 5px;
  background: #ff0000;
}

input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -4px;
}

input[type="range"]::-ms-fill-lower {
  background: #ff0000;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  border-radius: 5px;
  background: #ddd;
}

.loop-btn{
  cursor: pointer;
	opacity: 0.7;
	transition: opacity 0.3s ease;
  width: 10px;
	height: 10px;
	margin: 0 4px
}
.loop-btn img:hover{
  opacity: 1;
}
#fade-text{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}