input[type="range"] {
  -webkit-appearance: none;
  appearance: none; 
  width: 30%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  height: 6px;
  background: #ccc;
  position: relative;
  top: 20px;
  z-index: 5;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background-color: #ff0000;
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: -12px;
  transition: width 0.3s ease;
  position: relative;
  z-index: 10 !important;
  opacity: 0.8;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  top: 5px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  border: none;
  transition: .2s ease-in-out;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  border-radius: 1px;
  background: #ffffff;
  opacity: 0.4;
  position: relative;
}

input[type="range"]:hover::-webkit-slider-runnable-track {
  opacity: 0.9;
  height: 8px;
  
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1);
  height: 20px;
  width: 20px;
  z-index: 10 !important;
  opacity: 1.0 !important;
}

.loop-btn {
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.3s ease;
  width: 30px !important;
  height: 30px !important;
  margin: 0 4px;
  position: relative;
  top: 17%;
  white-space: nowrap;
  overflow: hidden;
}

.loop-btn img:hover {
  opacity: 1;
}

.fade-text {
  width: 15%;
  height: 15%;
  right: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(50%, -50%);
  animation: fadeOut 1.6s;
  position: absolute;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.fade-text-hidden {
  visibility: hidden;
}

#range-value {
  font-size: 14px;
}
